#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@mixin default-button {
  height: 20px;
  widht: 60px;
  padding: 10px 5px;
  margin: 0;
  text-align: center;
  color: black;
  background-color: lightblue;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    line-height: 1.6;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .login-container {
      display: flex;
      text-align: left;
      align-items: center;
      padding: 50px;
      .login-card {
        width: 800px;
        margin-top: 100px;
        margin-bottom: 120px;
        .title {
          font-weight: 700;
          font-family: 'Helvetica Neue', sans-serif;
          font-size: 40px;
        }
      }
    }
  }
}

.app-button {
  @include default-button()
}

.delete-button{
  height: 20px;
  width: 60px;
  padding: 10px 5px;
  margin: 0;
  text-align: center;
  color: white;
  background-color: red;
}


.headline {
  font-size: 1rem;
}

.subtitle-1 {
  font-size: 0.75rem;
}

.task-content {
  float: left;
  width: 50%;
  padding: 10px;
}

.btn {
  margin: 0px;
  left: -20%;
  font-size: 0.6rem;
}

@media (max-width: 1280px) {
  .headline {
    font-size: 0.75rem;
  }

  .subtitle-1 {
    font-size: 0.5rem;
  }
}

@media (max-width: 880px) {
  .btn {
    margin: 0px;
    left: -20%;
    font-size: 0.4rem;
  }

  .loan-btn {
    margin: 0px;
    font-size: 0.4rem;
  }
}

.display-2 {
  font-size: 2rem;
}

.v-container {
  padding-top: 0;
}

@media (max-width: 700px) {
  .v-container {
    padding-top: 100px;
  }
}
